{% extends "header.html" %}

{% block page_title %}
Car Detail - {{ object.manufacturer }} {{ object.model }}
{% endblock %}

{% block content %}
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h1 class="mb-0">Car Detail</h1>
            </div>
            <div class="card-body">
                <div class="mt-3 mb-3">
                    <a href="{% url 'car_list' %}" class="btn btn-secondary">Back to Car List</a>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Manufacturer</th>
                                    <td>{{ object.manufacturer }}</td>
                                </tr>
                                <tr>
                                    <th>Model</th>
                                    <td>{{ object.model }}</td>
                                </tr>
                                <tr>
                                    <th>Year</th>
                                    <td>{{ object.year }}</td>
                                </tr>
                                <tr>
                                    <th>Mileage</th>
                                    <td>{{ object.mileage }}</td>
                                </tr>
                                <tr>
                                    <th>Engine</th>
                                    <td>{{ object.engine }}</td>
                                </tr>
                                <tr>
                                    <th>Transmission</th>
                                    <td>{{ object.transmission }}</td>
                                </tr>
                                <tr>
                                    <th>Drivetrain</th>
                                    <td>{{ object.drivetrain }}</td>
                                </tr>
                                <tr>
                                    <th>Fuel Type</th>
                                    <td>{{ object.fuel_type }}</td>
                                </tr>
                                <tr>
                                    <th>MPG</th>
                                    <td>{{ object.mpg }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Exterior Color</th>
                                    <td>{{ object.exterior_color }}</td>
                                </tr>
                                <tr>
                                    <th>Interior Color</th>
                                    <td>{{ object.interior_color }}</td>
                                </tr>
                                <tr>
                                    <th>Accidents or Damage</th>
                                    <td>{{ object.accidents_or_damage }}</td>
                                </tr>
                                <tr>
                                    <th>One Owner</th>
                                    <td>{{ object.one_owner }}</td>
                                </tr>
                                <tr>
                                    <th>Personal Use Only</th>
                                    <td>{{ object.personal_use_only }}</td>
                                </tr>
                                <tr>
                                    <th>Seller Name</th>
                                    <td>{{ object.seller_name }}</td>
                                </tr>
                                <tr>
                                    <th>Seller Rating</th>
                                    <td>{{ object.seller_rating }}</td>
                                </tr>
                                <tr>
                                    <th>Driver Rating</th>
                                    <td>{{ object.driver_rating }}</td>
                                </tr>
                                <tr>
                                    <th>Driver Reviews Number</th>
                                    <td>{{ object.driver_reviews_num }}</td>
                                </tr>
                                <tr>
                                    <th>Price Drop</th>
                                    <td>{{ object.price_drop }}</td>
                                </tr>
                                <tr>
                                    <th>Price</th>
                                    <td>{{ object.price }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
